<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Card Acceptance Predictor</title>
</head>
<body>
    <h1>Credit History</h1>
    <form method="post">
        <label for="credit_score">Credit Score:</label>
        <input type="text" id="credit_score" name="credit_score"required><br><br>
        
        <label for="income">Annual Income:</label>
        <input type="text" id="income" name="income"required><br><br>
        
        <label for="rent">Monthly Rent:</label>
        <input id="text" id="name" name="rent"required><br><br>
        
        <input type="submit" value="Submit">
    </form>
    {% if credit_score %}
    <div>
        <h3>Approval Result</h3>
        <p>Credit Score: {{ credit_score }}</p>
        <p>Income: {{ income }}</p>
        <p>Rent: {{ rent }}</p>
        <p>Score: {{ credit_score }}, Income: {{ income }}, rent: {{ rent }}.</p>
    </div>
    {% endif %}
</body>
</html>


